<!-- File: index.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Сотрудники</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .section-title {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .card {
      margin-bottom: 15px;
    }

    nav {
        height: 100px;
    }

    a.navbar-brand {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        margin-left: 50px;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dizzain.com - Сотрудники</a>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <!-- Отпуск -->
      <div class="col-md-6">
        <h4 class="section-title">Сейчас в отпуске
        </h4>
        {% for employee in vacation_now %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ employee[0] }}</h5>
                <p class="card-text">{{ employee[1] }} дней до конца отпуска</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="col-md-6">
        <h4 class="section-title">Истечение контракта</h4>
        {% for employee in contract_soon %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ employee[0] }}</h5>
                <p class="card-text">Контракт истекает через {{ employee[1] }} дней</p>
            </div>
        </div>
        {% endfor %}
      </div>

      <!-- Дни рождения -->
      <div class="col-md-6">
        <h4 class="section-title">Ближайшие дни рождения</h4>
        {% for employee in birthday_soon %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ employee[0] }}</h5>
            <p class="card-text">День рождения через {{ employee[1] }} дней</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Дни рождения -->
      <div class="col-md-6">
        <h4 class="section-title">Ближайшие отпуска</h4>
        {% for employee in vacation_soon %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ employee[0] }}</h5>
            <p class="card-text">Отпуск через {{ employee[1] }} дней</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h4 class="mb-3">Все сотрудники</h4>
    <div class="table-responsive">
      <table class="table align-middle shadow-sm" style="border-collapse: separate; border-spacing: 0 10px;">
        <thead class="table-light">
          <tr>
            <th>Имя</th>
            <th>Должность</th>
            <th>Дата рождения</th>
            <th>Начало отпуска</th>
            <th>Конец отпуска</th>
            <th>Email</th>
            <th>Истечение контракта</th>
          </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
          <tr class="bg-white" style="height: 60px;">
            <td>{{employee.name}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.birthday}}</td>
            <td>{{employee.vacation_start}}</td>
            <td>{{employee.vacation_end}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.contract}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h4 class="mx-5 my-3" id="add">Добавить нового сотрудника, отпуск либо продлить контракт</h2>
<form action="/" method="POST" class="table mb-5 mx-5 my-3">

  <!-- Первый ряд -->
  <div class="d-flex flex-wrap gap-2 align-items-center overflow-auto mb-2 my-3">
    {{ form.csrf_token }}
    {{ form.name(class="form-control w-auto", style="width: 130px;", placeholder="Имя", list="employee_names") }}
    <datalist id="employee_names">
        {% for employee in employees %}
          <option value="{{ employee.name }}">
        {% endfor %}
    </datalist>
  </div>
  
  <div class="d-flex flex-wrap gap-2 align-items-center overflow-auto my-3">
    <label for="vacation_start">Начало отпуска</label>
    {{ form.vacation_start(class="form-control w-auto", style="width: 130px;", placeholder="Начало отпуска") }}
    <label for="vacation_end">Конец отпуска</label>
    {{ form.vacation_end(class="form-control w-auto", style="width: 130px;", placeholder="Конец отпуска") }}
</div>

<div class="d-flex flex-wrap gap-2 align-items-center overflow-auto my-3">
      <label for="contract">Окончание контракта</label>
      {{ form.contract(class="form-control w-auto", style="width: 130px;", placeholder="Контракт") }}
    </div>
    
    <div class="d-flex gap-2 align-items-center overflow-auto mb-2 my-3">
    {{ form.email(class="form-control w-auto", style="width: 180px;", placeholder="Email") }}
    <label for="birthday">День рождения</label>
    {{ form.birthday(class="form-control w-auto", style="width: 130px;", placeholder="Дата рождения") }}
    {{ form.position(class="form-control w-auto", style="width: 130px;", placeholder="Должность") }}
  </div>
  {{ form.submit(class="btn btn-success my-3") }}
</form>
<div class="alert alert-primary" role="alert">
    Чтобы добавить отпуск или продлить контракт достаточно выбрать из списка имя сотрудника и заполнить соответствующие поле(-я) <br>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>